<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{% static 'ecom/css/base.css'%}">
    <title>Ecommerce Website</title>
</head>
<body>
    <main>
        <div class="max-w-lg mx-auto flex flex-wrap p-6">
            <div class = "w-full bg-gray-100 p-6 rounded-xl">
                <h1 class = "mb-6 text-2xl">
                    Signup
                </h1>
                <form method="post" action="." class="space-y-6">
                    {% csrf_token %}
                    <div>
                        <label for="">First Name</label>
                        <input type="text" name = " first_name" class="w-full mt-2 py-4 px-6 bg-white rounded-xl">
                    </div>
                    <div>
                        <label for="">Last Name</label>
                        <input type="text" name = " last_name" class="w-full mt-2 py-4 px-6 bg-white rounded-xl">
                    </div>
                    <div>
                        <label for="">Email</label>
                        <input type="email" name = "email"class="w-full mt-2 py-4 px-6 bg-white rounded-xl">
                    </div>
                    <div>
                        <label for="">Password</label>
                        <input type="Password" name = "password1" class="w-full mt-2 py-4 px-6 bg-white rounded-xl">
                    </div>
                    <div>
                        <label for=""> Repeat Password</label>
                        <input type="Password" name = " password2" class="w-full mt-2 py-4 px-6 bg-white rounded-xl">
                    </div>
                    <div>
                        {% if forms.errors %}
                        {% for field in field.errors  %}
                        <button type="submit" class="w-full mt-2 py-4 px-6 bg-blue-600 text-white rounded-xl hover:bg-blue-500">
                            SUbmit
                        </button>
                        {% endfor %}
                        {% endif %}
                    </div>
                </form>

            </div>
            
        </div>
            
            
    </main>
</body>
</html>

