{% extends 'temp/home.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/brand.css' %}">
    <title>Brand Page</title>
</head>
<body>
    
    
    <main>
        {% block content %}
            <div class="container">
                <h1>Brands</h1>
                <div class="brand-cards">
                    {% for brand in brands %}
                    <div class="brand-card">
                        <img src="{% static 'images/brand/' %}{{ brand.image }}" alt="{{ brand.name }}">
                        <h3>{{ brand.name }}</h3>
                    </div>
                    {% endfor %}
                </div>
            </div>
        {% endblock %}
    </main>
    

    
</body>
</html>
