{% extends 'ecom/base.html' %}

{% block content %}

<div class="max-w-6xl mx-auto flex flex-wrap py-6 px-6 xl:px-0">
    <div class="images w-full mb-6 lg:mb-0 lg:w-3/5">
        <img class="rounded-xl" src="images/1.jpg" alt="">
    </div>

    <div class="text w-full lg:w-2/5">
        <h2 class="text-4xl font-bold mb-2">Lorem ipsum dolor sit amet.</h2>
        <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.</p>
        <span class="text-2xl font-bold">$20</span>
        <a href="#" class="block text-center bg-green-500 text-white px-6 py-3 font-semibold rounded-xl mt-6">Add to cart</a>
    </div>
</div>

{% endblock %}
