{% extends 'base.html' %}
{% block body %} 

   <!-- Page Header -->
   {% load static %}
  

<link rel="stylesheet" type="text/css" href="{% static 'css/contact.css' %}">
 
  <!----Main content -->

  <!-- background --> 
<!-- Section: Contact v.3 -->


<section id="contact">
  
  <h1 class="section-header">CONTACT</h1>
   <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  <link rel="stylesheet" 
      href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" 
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" 
      crossorigin="anonymous">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/v4-shims.css">

  <div class=container>
  <div class="contact-wrapper">
    
      <!---------------- 

      CONTACT PAGE LEFT 
    
      -----------------> 
     
    <form class="form-horizontal" role="form" method="POST" action="/contact">
    {% csrf_token %}
       
      <div class="form-group">
        <div class="col-sm-12">
          <input type="text" class="form-control" id="name" placeholder="NAME" name="name" value="">
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-12">
          <input type="email" class="form-control" id="email" placeholder="EMAIL" name="email" value="">
        </div>
      </div>
        <textarea class="form-control" rows="2" placeholder="SUBJECT" name="subject"></textarea>
      <textarea class="form-control" rows="6" placeholder="MESSAGE" name="message"></textarea>
      
      
      <button  class="btn btn-primary send-button" id="submit" type="submit" value="SEND">
        <div class="button">
          <span class="send-text">Submit</span>
        </div>
      
      </button>
      
    </form>
    </div>
    
      <!---------------- 

      CONTACT PAGE RIGHT 
    
      -----------------> 
    
     
    
  </div>
  
</section>  
</div>
</div>
  
  

 

{% endblock body %}